{{ $is_home := .IsHome }}
{{ $description := .Params.description | default .Site.Params.description }}
<header class="site-top {{ if $is_home }}site-top--home{{ else }}site-top--section{{ end }}">
  <div class="site-top__backdrop">
    {{ partials.Include "site-navigation.html" . }}
    {{ if not $is_home }}
      <div class="tc-l pv4 ph3 ph4-ns site-top__intro">
        <h1 class="f2 f-subheadline-l fw2 white-90 mb0 lh-title">
          {{ .Title | compare.Default .Site.Title }}
        </h1>
        {{ with $description }}
          <p class="fw1 f5 f3-l white-80 measure-wide-l center lh-copy mt3 mb0">
            {{ . }}
          </p>
        {{ end }}
      </div>
    {{ end }}
  </div>
</header>
